
.dark-container {
  background-color: #181818;
  color: #fff;
}

.container {
  align-content: center;
}



.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.custom-appbar {
  background-color: #333; 
  color: #fff;
}


.chat-messages{
  background-color: #303030; 
  color: #fff;
}

/*.message{
  background-color: #434343;
  color: #fff; /*
}*/

.div-chat{
  background-color: #181818; 
  color: #fff; 
}

.input-chat{
  background-color: #303030;
}

.hamburguer{
  border-radius: 4px;
  background-color: #434343;
}

.menuEstrutura {
  transition: all 0.5s ease;
}

.menuOpen {
  transform: translateX(0);
}


