
.dark-container {
  background-color: #181818;
  color: #fff;
}

/*Estilo do resgistro*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register {
  background-color: #373737;
  align-items: center;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 4px 8px 26px 4px rgba(0, 0, 0, 0.48);
}

input {
  width: 300px;
  height: 60px;
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 28px;
}

.buttonRegister {
  width: 200px;
  height: 55px;
  border: none;
  cursor: pointer;
  border-radius: 26px;
  outline: none;
  background-color: #3f51b5;
  color: white;
  font-size: 22px;
}

button:hover {
    background-color: #283593;
}

@media (max-width:600px) {
    input, button {
        width: auto;
    }
}
/*Fim do estilo do resgistro*/


.custom-appbar {
  background-color: #333; 
  color: #fff;
}


.chat-messages{
  background-color: #303030; 
  color: #fff;
}

/*.message{
  background-color: #434343;
  color: #fff; /*
}*/

.div-chat{
  background-color: #181818; 
  color: #fff; 
}

.input-chat{
  background-color: #303030;
}

.input-chat::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e90a0a;
  opacity: 1; /* Firefox */
}

.hamburguer{
  border-radius: 4px;
  background-color: #434343;
}

.menuEstrutura {
  transition: all 0.5s ease;
}

.menuOpen {
  transform: translateX(0);
}


